/* Full page backgroundd */
body {
    background-color: cadetblue;
}

/* Title/header */
.header {
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
}

/* Navbar */
ul {list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(35, 124, 142);
    display: flex;
    justify-content:space-evenly;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: black;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Main section */
.main {
    width: 77%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.box {
    /* flex: grow shrink basis; */
    flex: 1 1 48%;
    border: ridge black;
    padding: 7px;
    box-sizing: border-box;

    display:flex;
    flex-direction: column;
    align-items: center;

}

.box h3, .box p {
    margin-top:3px;
    margin-bottom:3px;
}

.box p.author{
    align-self: flex-start;
    margin-left: 2px;
}

/* Sidebar */
.sidebar {
    border: ridge black;
    width: 20%;
    padding: 7px;

    display: flex;
    flex-wrap: wrap;
    box-sizing:border-box;
    align-content: start;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
}

.sideBox {
    border: solid;
    padding: 5px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 8%;
    border: ridge black;
    background-color: rgb(188, 186, 186);
}

h3 {
    margin: 5px;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

#articleIMG {
    height: 400px;
    width: 400px;
}

#sideIMG {
    height: 200px;
    width: 200px;
}